.card-header-title {
    color:white;
 }
 
 .hero-body {
    padding: 1.0rem 0rem 0rem 0rem;
 }
   
 .card-content {
    padding: 3rem;
 }
 
 .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
 }
    
 .ng-invalid:not(form):not(.ng-pristine)  {
    border-left: 5px solid #a94442; /* red */
 }
 
 @media only screen and (max-width: 1020px) {
    div .container {
       width: 96%;
    }
    .card-content {
       padding: 0.5rem 0.5rem 2.5rem 0.5rem;
    }   
 }
   
 