<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical" *ngIf="planoTreino">
    
      <div class="tile is-child notification is-orange has-text-centered">
        <p class="title is-5">{{ planoTreino?.descricao }}</p>
      </div>

      <article class="tile is-child notification is-orange" *ngFor="let grupo of planoTreino?.gruposMusculares">
        <p class="title is-5">{{ grupo.descricao }}</p>
        <p class="subtitle"></p>
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <td style="width:70%;">Exercício</td>
              <td style="width:10%;">Ordem</td>
              <td style="width:20%;">Séries/Repet.</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of grupo.exercicios">
              <td>{{ item.descricao }}</td>
              <td>{{ item.ordem }}</td>
              <td>{{ item.repeticao }}</td>
            </tr>
          </tbody>
        </table>
      </article>

      <div class="notification is-orange">
        <p class="title is-5 has-text-centered">Observação</p>
        <textarea class="textarea" readonly>{{ planoTreino?.observacao }}</textarea>
      </div>

  </div>
</div>
<br>