<br>
<br>
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical is-2">
  </div>
  <div class="tile is-parent is-vertical is-8">
    <article class="tile is-child">
      <p class="title is-4 notification has-text-centered is-orange">
        Aviso
      </p>
      <div class="card-content">
        <div class="content">
          <p class="title is-4 has-text-centered">
            Deseja sair?
          </p>
          <br>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item button is-info is-medium" (click)="onLogoff()">Sim</a>
        <a class="card-footer-item button is-danger is-medium" routerLink="../home">Não</a>
      </footer>
    </article>
  </div>
</div>