<div class="container">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title title is-5">
        Atenção
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p class="title is-5">
          Deseja sair?
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item button is-info" (click)="onLogoff()">Sim</a>
      <a class="card-footer-item button is-danger" routerLink="../home">Não</a>
    </footer>
  </div>
</div>