
div.container {
    width: 330px;
}

footer.card-footer {
    margin: 8px;
}

a.card-footer-item {
    margin: 8px;
}

@media only screen and (max-width: 1020px) {
    div.container {
       width: 255px;
    } 
}
