
  <div *ngIf="mensagemErro !== ''" class="notification is-danger" (click)="onNotificationClick()">
    <button class="delete"></button>
    <div class="title is-5">
      {{ mensagemErro }}
    </div>
  </div>

  <div class="title notification is-5 is-orange has-text-centered">
    Avaliação - {{ nomeAluno }}
  </div>  

  <form #avaliacaoForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <input type="hidden" name="id" ngModel>
    <input type="hidden" name="usuarioId" ngModel>

    <div class="columns is-mobile">
      <div class="control column is-6">
        <label for="estatura">Estatura</label>
        <input class="input" type="number" placeholder="Estatura" name="estatura" ngModel required min="0" max="3" maxlength="8">
      </div>
      <div class="control column is-6">
        <label for="peso">Peso</label>
        <input class="input" type="number" placeholder="Peso" name="peso" ngModel (focusout)="onPesoFocusOut()" required min="0" max="300" maxlength="8">
      </div>
    </div>
  
    <div class="columns is-mobile">
        <div class="column">
          <label for="imc">I.M.C &nbsp;&nbsp; ( Peso &#247; (Estatura<sup>2</sup>) )</label>          
          <div class="input" disabled>{{ this.avaliacaoFisica?.medidas?.imc | number:'1.2-3' }}</div>
        </div>
    </div>

    <div class="field">
        <label for="obs">Observação</label>
        <div class="control" id="obs">
          <textarea class="textarea" type="text" rows="2" placeholder="Observação" name="obs" ngModel
            maxlength="1000"></textarea>
        </div>
    </div>
    <br>

    <div class="columns is-mobile has-text-centered">
      <div class="column">
        <a type="button" class="button is-success is-fullwidth" 
          (click)="onComposicaoCorporalClick()" >Composição Corporal</a>    
      </div>
    </div>
    <div class="columns is-mobile has-text-centered">
        <div class="column">
            <a type="button" class="button is-success is-fullwidth"               
              (click)="onMedicaoAntropometricaClick()">Medidas Antropométricas</a>    
          </div>      
      </div>
  
    <hr>
    <div class="is-pulled-right">
      <a type="button" class="button is-danger" 
         [routerLink]="['../../']"
         [queryParams]="{search:searchWord, aluno:nomeAluno}">Voltar</a>
      &nbsp;
      <button type="submit" class="button is-info" [disabled]="!avaliacaoForm.form.valid">Salvar</button>
    </div>

  </form>
<br>
<br>
<br>