<div class="center">
  <h3 class="title is-4">Fichas</h3>
</div>

<div class="container" *ngIf="!aluno">
  <div class="box is-orange">
    <div class="field is-grouped">
      <p class="control"  style="width:65%;">
        <input class="input" type="text" placeholder="Procurar Aluno" #nameImput>
      </p>
      <p class="control">
        <button class="button is-info" name="btn-find" (click)="onFind(nameImput.value)" #btnFind>Procurar</button>
      </p>
    </div>
  </div>

  <div class="box is-orange" *ngIf="!alunos">
    <span class="title is-5 is-font-white">Nenhum aluno selecionado</span>
  </div>
  <div class="box is-orange" *ngIf="alunos">
    <table class="table">
      <thead>
        <tr>
          <td>Alunos</td>
          <td>Editar Treino</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td>{{ aluno.nome }}</td>
          <td><a class="button is-info" (click)="onUserSelected(aluno)">Selecionar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="box is-orange" *ngIf="loading">
    <span class="title is-5 is-font-white">Carregando...</span>
</div>
<div class="tile is-ancestor" *ngIf="aluno && !loading">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical" *ngIf="planoTreino">

        <div class="box is-info is-orange">
          <p class="title is-4 field">
            {{ aluno.nome }}
            <a class="button is-danger is-pulled-right" (click)="onUserSelected(undefined)">Trocar</a>
          </p>
        </div>

        <input type="hidden" name="id" ngModel>
        <article class="tile is-child notification is-orange" *ngFor="let grupo of planoTreino.gruposMusculares">
          <p class="title is-5">{{ grupo.descricao }}</p>
          <hr>
          <p class="subtitle">
            <a class="button is-info" (click)="onToggleExercicioModal(grupo.descricao)">
              Adicionar Exercício
            </a>
          </p>
          <table class="table is-striped is-narrow">
            <thead>
              <tr>
                <td style="width:60%;">Exerc.</td>
                <td style="width:10%;">Ordem</td>
                <td style="width:20%;">Repet.</td>
                <td style="width:10%;"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of grupo.exercicios">
                <td>
                  <span class="is-mobile">{{ item.descricao | minimizeText:7 }}</span>
                  <span class="is-desktop">{{ item.descricao }}</span>
                </td>
                <td>{{ item.ordem }}</td>
                <td>{{ item.repeticao }}</td>
                <td>
                  <a class="button is-danger fas fa-trash-alt"
                    (click)="onExcluirExercicio(grupo.descricao, item.descricao)"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="modal" #novoExercicioModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <form #exercicioForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onNovoExercicioSubmit()">
      <header class="modal-card-head is-blue">
        <p class="modal-card-title">
          {{ grupoSelecionado }}
        </p>
        <button class="delete" aria-label="close" (click)="onToggleExercicioModal(grupoSelecionado)"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="Exercício" name="descricao" ngModel minlength="3" required>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="number" placeholder="Ordem" name="ordem" ngModel required>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="Repetição" name="repeticao" ngModel required>
          </p>
        </div>
      </section>
      <footer class="modal-card-foot is-blue">
        <button class="button is-success" type="submit">Salvar</button>
        <button class="button" (click)="onToggleExercicioModal(grupoSelecionado)">Cancelar</button>
      </footer>
    </form>
  </div>
</div>