div.center {
    text-align: center;
    margin: 10px;
}

table thead {
    text-align: center;
}

p.title {
    color: white;
}

table td {
    text-align: center;
    font-weight: normal;
}

.modal-card-title {
    color: white;
}

.modal-card-head, .modal-card-foot {
    background-color: #209cee;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
 }
    
 .ng-invalid:not(form):not(.ng-pristine)  {
    border-left: 5px solid #a94442; /* red */
 }
 
table.table {
    width:100%;
}

td, a, button, input {
    font-size: 16px;
}

.is-mobile {
    display: none;
}
.is-desktop {
    display: block;
}

.is-font-white {
    color:white;
}

.notification {
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

@media only screen and (max-width: 568px) {
    .modal-card {
        width:98%;
    }

    .modal-card-title {
        font-size: 16px;
    }

    .is-mobile {
        display: block;
    }

    .is-desktop {
        display: none;
    }

    td {
        font-size: 12px;
    }  
    
    td a {
        font-size: 12px;
    }  

}
