
@media only screen and (max-width: 1020px) {
   div .container {
      width: 96%;
   }
   .card-content {
      padding: 0.5rem 0.5rem 2.5rem 0.5rem;
   }   
}

input.file {
	height: 190px;
	max-width: 100%;
	position: absolute;
   text-align: center;
   filter:alpha(opacity 0);
   opacity: 0;
	z-index: 2;
}
