<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="./home">
      <img src="../../../assets/img/dumbell_512x512-icon.png">
    </a>

    <a role="button" class="navbar-burger burger" (click)="onNavBarClick()" #navBarBurger aria-label="menu"
      aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" #navBarMenu>
    <div class="navbar-start">
      <a routerLink="home" class="navbar-item" (click)="onNavBarClick()">
        Home
      </a>
    </div>

    <div class="navbar-end">
      <a routerLink="contato" class="navbar-item" (click)="onNavBarClick()">
        Contato
      </a>
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="login" class="button is-light" (click)="onNavBarClick()">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
             title
        </h1>
        <h2 class="subtitle">
          
        </h2>
      </div>
    </div>
</section>