<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="home" (click)="onNavBarClick()">
      <img src="../../../assets/img/dumbell_512x512-icon.png">
    </a>

    <a role="button" class="navbar-burger burger" (click)="onNavBarClick()" #navBarBurger aria-label="menu"
      aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" #navBarMenu>
    <div class="navbar-start">
      <a routerLink="home" class="navbar-item" (click)="onNavBarClick()">
        Home
      </a>
    </div>

    <div class="navbar-end">
      <a routerLink="contato" class="navbar-item" (click)="onNavBarClick()">
        Contato
      </a>
      <a routerLink="login" class="navbar-item" (click)="onNavBarClick()">
          Log in
      </a>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered">        
        <img class="has-text-centered" src="../../../assets/img/corpo-e-acao_logo2.png">
      </div>
    </div>
  </div>
</section>