<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" routerLink="home">
      <img src="assets/img/dumbell_512x512-icon.png">
    </a>

    <a role="button" class="navbar-burger burger" (click)="onNavBarClick()" #navBarBurger aria-label="menu"
      aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" #navBarMenu>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="home" (click)="onNavBarClick()">
        Home
      </a>
      <a *ngIf="isAdmin()" [routerLink]="['usuario']" class="navbar-item" (click)="onNavBarClick()">
        Alunos
      </a>
      <a *ngIf="isAdmin()" [routerLink]="['ficha-treino']" class="navbar-item" (click)="onNavBarClick()">
         Fichas
      </a>  

        <a *ngIf="isAuthenticated() && !isAdmin()" [routerLink]="['ficha-treino', 'aluno']" class="navbar-item" (click)="onNavBarClick()">
          Minha Ficha
        </a>
        <a *ngIf="isAuthenticated() && !isAdmin()" [routerLink]="['info-aluno']" class="navbar-item"  (click)="onNavBarClick()">
          Meus Dados
        </a>
        <a *ngIf="isAuthenticated() && !isAdmin()"  [routerLink]="['avaliacao-fisica-aluno']" class="navbar-item" (click)="onNavBarClick()">
          Progresso
        </a>      
  
      <a routerLink="contato" class="navbar-item" (click)="onNavBarClick()">
        Contato
      </a>
      <hr>
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!isAuthenticated()" routerLink="login" class="button is-orange" (click)="onNavBarClick()">
            Log in
          </a>
          <a *ngIf="isAuthenticated()" routerLink="logoff" class="button is-orange" (click)="onNavBarClick()">
            &nbsp;&nbsp; Sair &nbsp;&nbsp;
          </a>
        </div>
      </div>

    </div>
  </div>

</nav>