
.navbar {
    background-color: rgb(50, 157, 245);    
}

.navbar-item {
    font-size: 20px;
    color: white;
}

.hero-body {
    padding: 0px;
}

@media only screen and (max-width: 1020px) {
    section.hero {
        height: 120px;
    }
    .container img {
        height: 120px;
    }

}