<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical" *ngIf="planoTreino">
        <article class="tile is-child notification is-orange" *ngFor="let grupo of planoTreino.gruposMusculares">
          <p class="title is-4">{{ grupo.descricao }}</p>
          <p class="subtitle"></p>
          <table class="table is-striped">
            <thead>
              <tr>
                <td>Exercício</td>
                <td>Ordem</td>
                <td>Séries/Repet.</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of grupo.exercicios">
                <td>{{ item.descricao }}</td>
                <td>{{ item.ordem }}</td>
                <td>{{ item.repeticao }}</td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
  </div>
</div>