<br>
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <a class="button is-info" [routerLink]="['./senha-usuario']">Novo</a>
    </div>

    <div class="tile is-child notification is-orange">
      <div class="field is-grouped">
        <p class="control">
          <input class="input" type="text" placeholder="Procurar Aluno" #nameImput>
        </p>
        <p class="control">
          <a class="button is-info fas fa-search" (click)="onFind(nameImput.value)" #btnFind></a>
        </p>
      </div>
    </div>

    <div class="tile is-child notification is-orange" *ngIf="alunos.length === 0 && !firstSearch">
      <span class="title is-5 is-font-white">Nenhum resultado</span>
    </div>

    <div class="tile is-child notification is-orange" *ngFor="let aluno of alunos">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img *ngIf="!aluno?.urlFoto" [src]="'../../assets/img/profile-icon_126x126.png'" alt="image">
            <img *ngIf="aluno.urlFoto" [src]="aluno.urlFoto" alt="image" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="subtitle">
              {{ aluno.nome }}
              <br>
              {{ aluno.email }}
              <br>
              {{ aluno.celular }}
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="button fas fa-book" [routerLink]="['../usuario/', aluno.id]"
                [queryParams]="{search:searchWord, aluno:aluno.nome}">
              </a>&nbsp;&nbsp;
              <a class="button fas fa-clipboard" [routerLink]="['../ficha-treino','editar', aluno.id]"
                [queryParams]="{search:searchWord, aluno:aluno.nome}">
              </a>&nbsp;&nbsp;
              <a class="button fas fa-weight" [routerLink]="['../avaliacao-fisica', aluno.id]"
                [queryParams]="{search:searchWord, aluno:aluno.nome}">
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>
<br>