<div *ngIf="mensagemErro !== ''" class="notification is-danger" (click)="onNotificationClick()">
  <button class="delete"></button>
  <p class="title is-6 has-text-centered">
    {{ mensagemErro }}
  </p>
</div>

<p class="notification has-text-centered title is-5 is-orange">
  Novo do Aluno
</p>

<form #alunoForm="ngForm" (ngSubmit)="onSubmit(alunoForm)" novalidate>
  <input type="hidden" name="id" ngModel>
  <div class="field">
    <label for="login">Login</label>
    <div class="control" id="login">
      <input class="input" type="text" placeholder="Login" name="login" ngModel required minlength="8" maxlength="60">
    </div>
  </div>
  <div class="field">
    <label for="senha">Senha</label>
    <div class="control" id="senha">
      <input class="input" type="password" placeholder="Senha" name="senha" ngModel required minlength="6"
        maxlength="60">
    </div>
  </div>
  <div class="field">
    <label for="confirmaSenha">Confirmação da Senha</label>
    <div class="control" id="confirmaSenha">
      <input class="input" type="password" placeholder="Confirmar Senha" name="confirmaSenha" ngModel required
        minlength="6" maxlength="60">
    </div>
  </div>
  <br>
  <div class="is-pulled-right">
    <a type="button" class="button is-danger is-medium" [routerLink]="['/usuario']">Voltar</a>
    &nbsp;
    <button type="submit" class="button is-info is-medium" [disabled]="!alunoForm.form.valid">Salvar</button>
  </div>
</form>

