  <p class="is-5 notification is-orange">
    Meus Dados
  </p>
  <form>
    <input type="hidden" name="id" ngModel>
    <div class="field">
      <label for="Nome">Nome</label>
      <div class="control" id="nome">
        <div class="input" disabled>{{ aluno.nome }}</div>
      </div>
    </div>
    <div class="field">
      <label for="email">E-mail</label>
      <div class="control" id="email">
        <div class="input" disabled>{{ aluno.email }}</div>
      </div>
    </div>
    <div class="field">
      <label for="celular">Celular</label>
      <div class="control" id="celular">
        <div class="input" disabled>{{ aluno.celular }}</div>
      </div>
    </div>
    <div class="field">
      <label for="observacao">Observação</label>
      <div class="control" id="observacao">
        <textarea rows="4" class="textarea" readonly>{{ aluno.observacao }}</textarea>
      </div>
    </div>
  </form>
<br>
