<section class="hero">
  <div class="hero-body">

    <div class="container">
      <div *ngIf="mensagemErro !== ''" class="notification is-danger" (click)="onNotificationClick()">
        <button class="delete"></button>
        <h4 class="title is-4 has-text-centered">
          {{ mensagemErro }}
        </h4>
      </div>

      <div class="card">
        <header class="card-header">
          <h5 class="card-header-title title is-5 is-orange">
            Informações do Aluno
          </h5>
        </header>
        <div class="card-content">
          <form #alunoForm="ngForm" (ngSubmit)="onSubmit(alunoForm)" novalidate>
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Nome" name="nome" ngModel required minlength="8"
                  maxlength="60">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Email" name="email" ngModel required minlength="6" maxlength="60">
              </div>
            </div>
            <div class="field">
              <div class="control">

                <input class="input" type="number" placeholder="Peso" name="peso" ngModel required min="1" max="999">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="number" placeholder="Altura" name="altura" ngModel required min="1" max="999">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <textarea class="input" type="text" placeholder="Observação" name="obs" ngModel required maxlength="1000"></textarea>
              </div>
            </div>

            <div class="is-pulled-right">
              <a type="button" class="button is-danger" [routerLink]="['/usuario']">Voltar</a>
              &nbsp;
              <button type="submit" class="button is-info" [disabled]="!alunoForm.form.valid">Salvar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container">
      <div *ngIf="mensagemErro !== ''" class="notification is-danger" (click)="onNotificationClick()">
        <button class="delete"></button>
        <h4 class="title is-4 has-text-centered">
          {{ mensagemErro }}
        </h4>
      </div>

      <div class="card">
        <header class="card-header">
          <h5 class="card-header-title title is-5 is-orange">
            Editar Cadastro
          </h5>
        </header>
        <div class="card-content">
          <form #alunoForm="ngForm" (ngSubmit)="onSubmit(alunoForm)" novalidate>
            <div class="field">
              <div class="control">
                <input class="input" type="email" placeholder="Email" name="email" ngModel required minlength="5"
                  maxlength="30">
              </div>
            </div>
            <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Celular" name="celular" ngModel required minlength="5"
                    maxlength="30">
                </div>
              </div>            
            <div class="field">
              <div class="control">
                <input class="input" type="number" placeholder="Peso" name="peso" ngModel required minlength="1"
                  maxlength="6">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="number" placeholder="Altura" name="altura" ngModel required minlength="6">
              </div>
            </div>
            <div class="is-pulled-right">
              <a type="button" class="button is-danger" [routerLink]="['/usuario']">Voltar</a>
              &nbsp;
              <button type="submit" class="button is-info" [disabled]="!alunoForm.form.valid">Salvar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>