<section class="hero">
  <div class="hero-body">

    <div class="container">
      <div *ngIf="loginFailed" class="notification is-danger" (click)="onNotificationClick(loginForm)">
        <button class="delete"></button>
        <h4 class="title is-4 has-text-centered">
          *Usuário ou senha inválido
        </h4>
      </div>

      <div class="card">
        <header class="card-header">
          <h5 class="card-header-title title is-5 is-orange">
            Cadastro
          </h5>
        </header>
        <div class="card-content">
          <form #alunoForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="field">
              <p class="control">
                <input class="input" type="email" placeholder="Email" name="email" ngModel required minlength="8"
                  maxlength="30">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Password" name="password" ngModel required
                  minlength="6">
              </p>
            </div>
            <br>
            <div class="is-pulled-right">
              <a type="button" class="button is-danger" [routerLink]="['/usuario']">Voltar</a>
              &nbsp;
              <button type="submit" class="button is-info"
                [disabled]="!alunoForm.form.valid">Salvar</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>