<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">
  
    <article class="tile is-child has-text-centered">
      <img class="img" src="assets/img/corpo-e-acao-academia.png">
    </article>
  
    <article class="tile is-child notification is-orange">
      <span class="title is-5">Horário de Funcionamento</span>
      <hr>
      <ul class="subtitle has-text-centerd">
        <li>Segunda a Sexta-feira: 6h às 23h</li>
        <li>Sábado: 9h às 18h</li>
        <li>Domingo e Feriado: 10h às 17h</li>
      </ul>
    </article>
    
    <article class="tile is-child notification is-orange">
      <span class="title is-5">Avisos</span>
      <hr>
      <p>
        Aviso de teste na página principal
        Mais um aviso
      </p>
    </article>

    <article class="tile is-child notification is-orange">
      <span class="title is-5">Promoções</span>
      <hr>
      <p>
        Pague 3 mensalidades e ganhe 1 grátis
      </p>
    </article>
    <article class="tile is-child notification is-orange">
      <span class="title is-5">Mais conteúdo</span>
      <hr>
      <p>
        Conteúdo informativo
      </p>
    </article>
  </div>