<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">

    <article class="tile is-child has-text-centered">
      <img class="img" src="assets/img/corpo-e-acao-academia.png">
    </article>

    <div *ngIf="mensagemErro !== ''" class="notification is-danger" (click)="onNotificationClick()">
      <button class="delete"></button>
      <div class="title is-5">
        {{ mensagemErro }}
      </div>
    </div>

    <div class="tile is-child notification is-orange" *ngFor="let postagem of postagensHome">
      <div class="has-text-centered">
        <span class="title">{{ postagem.titulo }}</span>        
      </div>
      <br>
      <div class="tile is-child">
        <div class="img-post" *ngIf="postagem.urlImagem">
          <figure class="image is-256x256">
            <img width="256" height="256" [src]="postagem.urlImagem" />
          </figure>
          <br>
        </div>
      </div>
      
      <div class="tile is-child">
        <p class="subtitle">
          {{ postagem.texto }}
        </p>
      </div>
      <br>
    </div>
  </div>
</div>
<br>