li {
    font-size: 18px;
    padding-bottom: 8px;
}    

div p {
    font-size: 18px;
}    

@media only screen and (max-width: 1020px) {

    .container img {
        height: 96px;
    }

    .navbar-item {
        color: black;
    }
    
    span.tag:not(body) {
        width: 0%;
        visibility: hidden;
    }    
}

