<div class="container">
    <div class="card">
      <div class="card-content">
        <p class="title is-4 has-text-centered">Horário de Funcionamento</p>
        <hr>
          <ul class="subtitle has-text-centerd">
            <li>Segunda a Sexta-feira: 6h às 23h</li>
            <li>Sábado: 9h às 18h</li>    
            <li>Domingo e Feriado: 10h às 17h</li>
          </ul>
      </div>
      <footer class="card-footer">
      </footer>
    </div>
    <br>
    <div class="card">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Avisos</p>
          <hr>
            <p class="subtitle has-text-centerd">
              Aviso de teste na página principal
              Mais um aviso
            </p>
        </div>
        <footer class="card-footer">
        </footer>
      </div>
      <br>
      <div class="card">
          <div class="card-content">
            <p class="title is-4 has-text-centered">Promoções</p>
            <hr>
              <p class="subtitle has-text-centerd">
                Pague 3 mensalidades e ganhe 1 grátis
              </p>
          </div>
          <footer class="card-footer">
          </footer>
      </div> 
      <br>
      <div class="card">
          <div class="card-content">
            <p class="title is-4 has-text-centered">Mais conteúdo</p>
            <hr>
              <p class="subtitle has-text-centerd">
                Conteúdo informativo
              </p>
          </div>
          <footer class="card-footer">
          </footer>
      </div>            
  </div>